body{
  margin: 0;
  text-align: center;
}
h1 {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 5.312rem;
  color: #66BFBF
;
}
h2{
  font-family: 'Recursive', sans-serif;
  font-size: 2.5rem;
  margin-top: .5rem;
  font-weight: 300;
  color: #66BFBF
}
h3{
  color: #11999E;
}
p{
  color: #40514E;
  line-height: 2;
  font-weight: 600;
  font-size: 1.2rem;
}
.top_container {
  background-color:#EAF6F6;

  position: relative;
  padding-top: 5%;
}
.middle-container{
  margin: 10px 0;
}
.bottom-container{
  background-color:#66BFBF;
  padding: 40px 0 25px 0;
}
.footer-link{
  text-decoration: none;
  font-size: 1em;
  line-height: 50px;
  color: #11999E;
  padding: 5px 50px 5px 50px;
  font-family: 'Recursive', sans-serif;
}
.footer-link:hover{
  color: #EAF6F6;
}
.contact-me{
  margin: 35px auto 35px;
}
.trd{
  color: #EAF6F6;
  font-size: .75rem;

}
.top-cloud{
  position: absolute;
  right: 7.5rem;
  top: 4.5rem;

}
.bottom-cloud{
  position: absolute;
  left: 7.5rem;
  top: 20rem;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}
.com-pic{
  width: 25%;
  float:left;
  margin-right: 25px;
}
.chillies-pic{
  width: 25%;
  float:right;
  margin-right: 25px;
}
.profile-pic{
  margin: 35px 0 35px 0;
  width: 20%;
}
.profile{

  margin: 10px auto 10px auto;
}
.intro{
  width: 30%;
  margin: auto;
}
.contact-msg{
  width: 30%;
  margin: 40px auto 60px;
}

.hr1{
  border-color: #EAF6F6;
  border-style: none;
  border-top-style:dotted;
  border-width: 10px;
  width: 5%;
  margin: 100px auto 100px;
}

.btn {
    background-color: #479EFF;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.8rem 2.5rem;
    border-radius: 10px;
    display: inline-block;
    transition-duration: 0.8s;
}
.btn:hover{
  background-color: #124CA1
}
